*{
  margin: 0;
}

.link{
  text-decoration: none;
  color: inherit;
}

.titleLink{
  text-decoration: none;
  color: inherit;
}

.titleLink:hover{
  text-decoration: underline;
}

.error{
  margin-top: 15px;
  color: red;
  font-size: 20px;
}